.body-form {
    background-image: url('https://thumbs.dreamstime.com/b/patr%C3%B3n-sin-problemas-con-corazones-negros-peque%C3%B1os-sobre-fondo-blanco-sencillo-rom%C3%A1ntico-ilustraci%C3%B3n-del-vector-165026983.jpg');
    background-size: contain;
    margin-left: 0;
    height: 848px;
}

.contact-form {
    width: 390px;
}